<div class="app-layout-container">
  <button class="btn-add" color="primary" mat-raised-button (click)="addStudentForm()">Añadir Alumno</button>

  <div class="message-empty-table" *ngIf="alumnos.length === 0; else table">
    No tiene alumnos cargados en el sistema, para agregar utilice el boton "Añadir Alumno"
  </div>
  <ng-template #table>
    <app-table
      [items]="alumnos"
      (removeStudent)="removeStudent($event)"
      (editStudent)="editStudent($event)"
    ></app-table>
  </ng-template>
</div>
